.contact-us-container {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Adjust the gap as needed for spacing */
  }
  
  .contact-info, .contact-form {
    flex: 1;
  }
  
  .contact-form form {
    max-width: 300px; /* Adjust the form width as needed */
  }
  .contact-us-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .contact-info {
    flex: 1;
    max-width: 40%;
  }
  
  .contact-form {
    flex: 1;
  }
  
  form {
    background-color: #9e3f3f;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
  }
  
  